version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: nexum-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_EXPOSED_PORT:-5433}:${POSTGRES_PORT:-5432}'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: nexum-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  backend:
    build:
      context: .
      network: host
    container_name: nexum-backend
    restart: always
    ports:
      - '${BACKEND_EXPOSED_PORT:-5000}:${BACKEND_PORT:-3000}'
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    environment:
      PORT: ${BACKEND_PORT}
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}
      WEB_URL: ${WEB_URL}
      JWT_SECRET: ${JWT_SECRET}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASS: ${MAIL_PASS}
      SIGNUP_ACCESS_CODE: ${SIGNUP_ACCESS_CODE}
      COOKIE_DOMAIN: ${COOKIE_DOMAIN}
      REDIS_URL: ${REDIS_URL}
      FASTAPI_INTERNAL_TOKEN: ${FASTAPI_INTERNAL_TOKEN}
      FASTAPI_BASE_URL: ${FASTAPI_BASE_URL}

volumes:
  pgdata:
  redisdata:
